@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.pb-0 {
    @apply p-0 m-0;
}

.center {
    @apply flex items-center object-center justify-center align-middle;
}

.row {
    @apply flex-row;
}

.col {
    @apply flex-col;
}

.container {
    @apply mx-auto;
}

.desk-nav-btn {
    @apply rounded-md bg-blue-950 px-4 py-2 text-blue-400 hover:text-blue-100 active:text-blue-200 font-bold font-mono outline outline-blue-900 hover:outline-blue-600;

    &:focus {
        @apply text-blue-300;
    }
}